<!-- root component -->
<!-- header -->
<!-- Shopping List -->
    <!-- Shopping List Edit -->
      <!-- Ingredient Model(data) -->
<!-- Recipe Book -->
    <!-- Recipse List -->
    <!-- Rec Item -->
    <!-- Rec Detail(information) -->
      <!-- Recipe model(data) -->
      <app-header (featureSelected)="onNavigate($event)"></app-header>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <app-recipes *ngIf="loadedFeature === 'recipe'"></app-recipes>
            <app-shopping-list *ngIf="loadedFeature !== 'recipe'"></app-shopping-list>
          </div>
        </div>
      </div>
